/* ============= header section ================ */
header{
    background-color: #264653;
    height: 100vh;
}
/* .honda-info{
    height: 100vh;
} */

.purchase-btn{
    background-color: #E76F51;
}
.honda-fetured-info{
    color: #E76F51;
}